<footer class="footer glass" id="footerPlaceholder">
  <div class="footer-content">
    <div class="footer-logo">
      <img class="logo-img logo-root" src="https://i.postimg.cc/m2vScd8t/1000072729-removebg-preview.png" alt="PandaCine">
      <img class="logo-img logo-purple" src="https://i.postimg.cc/hGr85Kgd/1000072730-removebg-preview.png" alt="PandaCine">
    </div>
    <p class="footer-text">© 2025 PandaCine - جميع الحقوق محفوظة</p>
    <div class="footer-links">
      <a href="#" class="footer-link">الشروط والأحكام</a>
      <a href="#" class="footer-link">سياسة الخصوصية</a>
      <a href="#" class="footer-link">اتصل بنا</a>
      <a href="#" class="footer-link">الدعم الفني</a>
    </div>
  </div>
</footer>
